{
  "Comment": "Create a DNS record to point the subdomain to the cluster",
  "Changes": [
    {
      "Action": "CREATE",
      "ResourceRecordSet": {
        "Name": "CLUSTER_NAME",
        "Type": "CNAME",
        "TTL": 300,
        "ResourceRecords": [
          {
            "Value": "ELB_ADDRESS"
          }
        ]
      }
    }
  ]
}
