{
  "Comment": "Create a CNAME to route to Traefik's ELB.",
  "Changes": [
    {
      "Action": "CREATE",
      "ResourceRecordSet": {
        "Name": "ELB_DOMAIN",
        "Type": "CNAME",
        "TTL": 300,
        "ResourceRecords": [
          {
            "Value": "ELB_ADDRESS"
          }
        ]
      }
    }
  ]
}
